<header>
  <h1 id="name" href="{{ site.baseurl }}/">{{ site.title }}</h1>
  <p>Hackademic Adventurer</p>

  <p class="view">
  Checkout my <a href="http://ca.linkedin.com/in/thekevlau/" target="_blank">linkedin</a><br>
  Find me on <a href="http://twitter.com/thekevlau" target="_blank">twitter</a> <br>
  View my <a href="http://github.com/thekevlau" target="_blank">github</a> <br>
  My resume is right <a href="KevinLau.pdf" target="_blank">here</a> <br> <br>
  Say hi over <a href="mailto:me@kevinlau.me">email</a>? 
  </p>
</header>